/* Background */ .light .bg { background-color: #ffffff; }
/* PreWrapper */ .light .chroma { }
/* Other */ .light .chroma .x {  }
/* Error */ .light .chroma .err { color: #a61717; background-color: #e3d2d2 }
/* CodeLine */ .light .chroma .cl { color: #24292E; white-space: pre-wrap; }
/* LineLink */ .light .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .light .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .light .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .light .chroma .hl { background-color: #e5e5e5 }
/* LineNumbersTable */ .light .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .light .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .light .chroma .line { display: flex; }
/* Keyword */ .light .chroma .k { color: #D73A49; }
/* KeywordConstant */ .light .chroma .kc { color: #D73A49; }
/* KeywordDeclaration */ .light .chroma .kd { color: #D73A49; }
/* KeywordNamespace */ .light .chroma .kn { color: #D73A49; }
/* KeywordPseudo */ .light .chroma .kp { color: #D73A49; }
/* KeywordReserved */ .light .chroma .kr { color: #D73A49; }
/* KeywordType */ .light .chroma .kt { color: #6F42C1; }
/* Name */ .light .chroma .n {  }
/* NameAttribute */ .light .chroma .na { color: #24292E }
/* NameBuiltin */ .light .chroma .nb { color: #0086b3 }
/* NameBuiltinPseudo */ .light .chroma .bp { color: #999999 }
/* NameClass */ .light .chroma .nc { color: #6F42C1;  }
/* NameConstant */ .light .chroma .no { color: #24292E }
/* NameDecorator */ .light .chroma .nd { color: #3c5d5d; }
/* NameEntity */ .light .chroma .ni { color: #800080 }
/* NameException */ .light .chroma .ne { color: #6F42C1; }
/* NameFunction */ .light .chroma .nf { color: #6F42C1; }
/* NameFunctionMagic */ .light .chroma .fm { color: #005CC5;  }
/* NameLabel */ .light .chroma .nl { color: #6F42C1; }
/* NameNamespace */ .light .chroma .nn { color: #555555 }
/* NameOther */ .light .chroma .nx { color: #005CC5;  }
/* NameProperty */ .light .chroma .py {  }
/* NameTag */ .light .chroma .nt { color: #005CC5 }
/* NameVariable */ .light .chroma .nv { color: #24292E }
/* NameVariableClass */ .light .chroma .vc { color: #24292E }
/* NameVariableGlobal */ .light .chroma .vg { color: #24292E }
/* NameVariableInstance */ .light .chroma .vi { color: #24292E }
/* NameVariableMagic */ .light .chroma .vm {  }
/* Literal */ .light .chroma .l {  }
/* LiteralDate */ .light .chroma .ld {  }
/* LiteralString */ .light .chroma .s { color: #6A737D }
/* LiteralStringAffix */ .light .chroma .sa { color: #6A737D }
/* LiteralStringBacktick */ .light .chroma .sb { color: #6A737D }
/* LiteralStringChar */ .light .chroma .sc { color: #6A737D }
/* LiteralStringDelimiter */ .light .chroma .dl { color: #6A737D }
/* LiteralStringDoc */ .light .chroma .sd { color: #6A737D }
/* LiteralStringDouble */ .light .chroma .s2 { color: #032F62 }
/* LiteralStringEscape */ .light .chroma .se { color: #6A737D }
/* LiteralStringHeredoc */ .light .chroma .sh { color: #6A737D }
/* LiteralStringInterpol */ .light .chroma .si { color: #6A737D }
/* LiteralStringOther */ .light .chroma .sx { color: #6A737D }
/* LiteralStringRegex */ .light .chroma .sr { color: #009926 }
/* LiteralStringSingle */ .light .chroma .s1 { color: #032F62 }
/* LiteralStringSymbol */ .light .chroma .ss { color: #990073 }
/* LiteralNumber */ .light .chroma .m { color: #009999 }
/* LiteralNumberBin */ .light .chroma .mb { color: #009999 }
/* LiteralNumberFloat */ .light .chroma .mf { color: #009999 }
/* LiteralNumberHex */ .light .chroma .mh { color: #009999 }
/* LiteralNumberInteger */ .light .chroma .mi { color: #009999 }
/* LiteralNumberIntegerLong */ .light .chroma .il { color: #009999 }
/* LiteralNumberOct */ .light .chroma .mo { color: #009999 }
/* Operator */ .light .chroma .o { color: #D73A49; }
/* OperatorWord */ .light .chroma .ow { color: #D73A49; }
/* Punctuation */ .light .chroma .p { color: #24292E  }
/* Comment */ .light .chroma .c { color: #005CC5; }
/* CommentHashbang */ .light .chroma .ch { color: #005CC5; }
/* CommentMultiline */ .light .chroma .cm { color: #005CC5; }
/* CommentSingle */ .light .chroma .c1 { color: #6A737D; }
/* CommentSpecial */ .light .chroma .cs { color: #999999; font-weight: bold; font-style: italic }
/* CommentPreproc */ .light .chroma .cp { color: #999999; font-weight: bold; font-style: italic }
/* CommentPreprocFile */ .light .chroma .cpf { color: #999999; font-weight: bold; font-style: italic }
/* Generic */ .light .chroma .g {  }
/* GenericDeleted */ .light .chroma .gd { color: #D73A49; background-color: #ffdddd }
/* GenericEmph */ .light .chroma .ge { color: #D73A49; font-style: italic }
/* GenericError */ .light .chroma .gr { color: #aa0000 }
/* GenericHeading */ .light .chroma .gh { color: #999999 }
/* GenericInserted */ .light .chroma .gi { color: #22863A; background-color: #ddffdd }
/* GenericOutput */ .light .chroma .go { color: #005CC5 }
/* GenericPrompt */ .light .chroma .gp { color: #555555 }
/* GenericStrong */ .light .chroma .gs { font-weight: bold }
/* GenericSubheading */ .light .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ .light .chroma .gt { color: #aa0000 }
/* GenericUnderline */ .light .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .light .chroma .w { color: #bbbbbb }



/* Background */ .dark .bg { color: #abb2bf; background-color: #282c34; }
/* PreWrapper */ .dark .chroma { color: #abb2bf; }
/* Other */ .dark .chroma .x {  }
/* Error */ .dark .chroma .err {  }
/* CodeLine */ .dark .chroma .cl { white-space: pre-wrap; }
/* LineLink */ .dark .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .dark .chroma .hl { background-color: #3d4148 }
/* LineNumbersTable */ .dark .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #55595f }
/* LineNumbers */ .dark .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #55595f }
/* Line */ .dark .chroma .line { display: flex; }
/* Keyword */ .dark .chroma .k { color: #c678dd }
/* KeywordConstant */ .dark .chroma .kc { color: #e5c07b }
/* KeywordDeclaration */ .dark .chroma .kd { color: #c678dd }
/* KeywordNamespace */ .dark .chroma .kn { color: #c678dd }
/* KeywordPseudo */ .dark .chroma .kp { color: #c678dd }
/* KeywordReserved */ .dark .chroma .kr { color: #c678dd }
/* KeywordType */ .dark .chroma .kt { color: #e5c07b }
/* Name */ .dark .chroma .n { color: #e06c75 }
/* NameAttribute */ .dark .chroma .na { color: #e06c75 }
/* NameBuiltin */ .dark .chroma .nb { color: #e5c07b }
/* NameBuiltinPseudo */ .dark .chroma .bp { color: #e06c75 }
/* NameClass */ .dark .chroma .nc { color: #e5c07b }
/* NameConstant */ .dark .chroma .no { color: #e06c75 }
/* NameDecorator */ .dark .chroma .nd { color: #61afef }
/* NameEntity */ .dark .chroma .ni { color: #e06c75 }
/* NameException */ .dark .chroma .ne { color: #e06c75 }
/* NameFunction */ .dark .chroma .nf { color: #61afef; font-weight: bold }
/* NameFunctionMagic */ .dark .chroma .fm { color: #56b6c2; font-weight: bold }
/* NameLabel */ .dark .chroma .nl { color: #e06c75 }
/* NameNamespace */ .dark .chroma .nn { color: #e06c75 }
/* NameOther */ .dark .chroma .nx { color: #e06c75 }
/* NameProperty */ .dark .chroma .py { color: #e06c75 }
/* NameTag */ .dark .chroma .nt { color: #e06c75 }
/* NameVariable */ .dark .chroma .nv { color: #e06c75 }
/* NameVariableClass */ .dark .chroma .vc { color: #e06c75 }
/* NameVariableGlobal */ .dark .chroma .vg { color: #e06c75 }
/* NameVariableInstance */ .dark .chroma .vi { color: #e06c75 }
/* NameVariableMagic */ .dark .chroma .vm { color: #e06c75 }
/* Literal */ .dark .chroma .l {  }
/* LiteralDate */ .dark .chroma .ld {  }
/* LiteralString */ .dark .chroma .s { color: #98c379 }
/* LiteralStringAffix */ .dark .chroma .sa { color: #98c379 }
/* LiteralStringBacktick */ .dark .chroma .sb { color: #98c379 }
/* LiteralStringChar */ .dark .chroma .sc { color: #98c379 }
/* LiteralStringDelimiter */ .dark .chroma .dl { color: #98c379 }
/* LiteralStringDoc */ .dark .chroma .sd { color: #98c379 }
/* LiteralStringDouble */ .dark .chroma .s2 { color: #98c379 }
/* LiteralStringEscape */ .dark .chroma .se { color: #98c379 }
/* LiteralStringHeredoc */ .dark .chroma .sh { color: #98c379 }
/* LiteralStringInterpol */ .dark .chroma .si { color: #98c379 }
/* LiteralStringOther */ .dark .chroma .sx { color: #98c379 }
/* LiteralStringRegex */ .dark .chroma .sr { color: #98c379 }
/* LiteralStringSingle */ .dark .chroma .s1 { color: #98c379 }
/* LiteralStringSymbol */ .dark .chroma .ss { color: #98c379 }
/* LiteralNumber */ .dark .chroma .m { color: #d19a66 }
/* LiteralNumberBin */ .dark .chroma .mb { color: #d19a66 }
/* LiteralNumberFloat */ .dark .chroma .mf { color: #d19a66 }
/* LiteralNumberHex */ .dark .chroma .mh { color: #d19a66 }
/* LiteralNumberInteger */ .dark .chroma .mi { color: #d19a66 }
/* LiteralNumberIntegerLong */ .dark .chroma .il { color: #d19a66 }
/* LiteralNumberOct */ .dark .chroma .mo { color: #d19a66 }
/* Operator */ .dark .chroma .o { color: #56b6c2 }
/* OperatorWord */ .dark .chroma .ow { color: #56b6c2 }
/* Punctuation */ .dark .chroma .p {  }
/* Comment */ .dark .chroma .c { color: #7f848e }
/* CommentHashbang */ .dark .chroma .ch { color: #7f848e }
/* CommentMultiline */ .dark .chroma .cm { color: #7f848e }
/* CommentSingle */ .dark .chroma .c1 { color: #7f848e }
/* CommentSpecial */ .dark .chroma .cs { color: #7f848e }
/* CommentPreproc */ .dark .chroma .cp { color: #7f848e }
/* CommentPreprocFile */ .dark .chroma .cpf { color: #7f848e }
/* Generic */ .dark .chroma .g {  }
/* GenericDeleted */ .dark .chroma .gd { color: #e06c75 }
/* GenericEmph */ .dark .chroma .ge {  }
/* GenericError */ .dark .chroma .gr {  }
/* GenericHeading */ .dark .chroma .gh {  }
/* GenericInserted */ .dark .chroma .gi { color: #98c379; font-weight: bold }
/* GenericOutput */ .dark .chroma .go {  }
/* GenericPrompt */ .dark .chroma .gp {  }
/* GenericStrong */ .dark .chroma .gs {  }
/* GenericSubheading */ .dark .chroma .gu {  }
/* GenericTraceback */ .dark .chroma .gt {  }
/* GenericUnderline */ .dark .chroma .gl {  }
/* TextWhitespace */ .dark .chroma .w {  }

