@import "poppins.css";
@import "chroma.css";
@import "fira.css";
@import "icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.chroma code:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding: inherit !important;
}

@layer base {
    strong {
        @apply font-semibold;
    }
    pre > code {
        @apply grid;
    }
    code a {
        @apply !text-[#1976D2] dark:!text-[#E5C07B];
    }
    img {
        @apply max-w-none;
    }
}

@layer components {
    .link {
        @apply font-semibold text-blue transition-all hover:brightness-125 dark:text-blue-light;
    }
    .dark *[data-theme="light"] {
        @apply hidden;
    }
    .light *[data-theme="dark"] {
        @apply hidden;
    }
    .light .dark *[data-theme="dark"] {
        @apply block;
    }
    .light .shiki.one-dark-pro {
        @apply hidden;
    }
    .dark .shiki.github-light {
        @apply hidden;
    }
    .doc pre {
        @apply font-mono text-sm whitespace-pre-wrap leading-relaxed !bg-gray-100 dark:!bg-blue-darkest rounded-2xl mt-2 mb-4 overflow-x-auto;
    }
    .doc pre > code > pre {
        @apply p-0 m-0 rounded-none !bg-transparent;
    }
    .doc code {
        @apply whitespace-pre-wrap break-words;
    }
    .doc pre > code {
        @apply break-normal;
    }
    .doc a {
        @apply text-blue;
    }
    .doc code span.line:not(:last-of-type):after {
        content: "\200B"; /* useful to set correct height on empty lines */
    }

    .doc.guide pre {
      @apply px-4 py-4 xl:py-0;
    }

    .doc.guide a {
      @apply font-semibold;
    }

    .reference h1 a {
        @apply text-blue font-semibold no-underline; 
    }
}

@layer utilities {
    .clip-path-corner-left {
        clip-path: polygon(0 0, 0 100%, 100% 100%);
    }
    .clip-path-corner-right {
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
    .clip-path-triangle-bottom {
        clip-path: polygon(100% 100%, 100% 0%, 50% 100%, 0% 0%, 0% 100%);
    }
}

.light .DocSearch {
	--docsearch-modal-background: theme(colors.white);
	--docsearch-hit-background: theme(colors.gray.100);
}

.dark .DocSearch {
	--docsearch-modal-background: theme(colors.blue.black);
	--docsearch-text-color: theme(colors.blue.extralight);
	--docsearch-hit-color: theme(colors.gray.300);
	--docsearch-hit-background: theme(colors.blue.darkest);
}

body .DocSearch {
	--docsearch-highlight-color: theme(colors.blue.DEFAULT);
	--docsearch-primary-color: theme(colors.blue.DEFAULT);
	--docsearch-logo-color: theme(colors.blue.DEFAULT);
	--docsearch-key-gradient: "none";
	--docsearch-searchbox-shadow: "none";
}

body .DocSearch-Input {
    @apply focus-visible:outline-none;
}

body .DocSearch-Logo svg>* {
	@apply fill-blue;
}

body .DocSearch-SearchBar {
	@apply px-6 py-1 border-b-px border-b-gray-100 dark:border-b-blue-dark;
}

body .DocSearch-Form {
	@apply bg-transparent shadow-none px-0;
}

body .DocSearch-Hit-source {
	@apply text-lg text-blue-black py-2 dark:text-gray-50;
}

body .DocSearch-Dropdown {
	@apply px-0;
}

body .DocSearch-Button {
	@apply bg-white border-gray-200 border-solid border dark:border-none dark:bg-blue-black;
}

body .DocSearch-Modal {
	@apply w-full max-w-3xl shadow-2xl dark:shadow-inner-light;
}

body .DocSearch-Hits {
	@apply px-6 py-2 border-b-px border-b-gray-100 dark:border-b-blue-dark;
}

body .DocSearch-Hit a {
	@apply shadow-none;
}

body .DocSearch-Hit {
	@apply pb-2;
}

body .DocSearch-Footer {
	@apply bg-transparent dark:shadow-inner-light;
}

body kbd.DocSearch-Button-Key,
kbd.DocSearch-Commands-Key {
	@apply shadow-none w-5 h-5 p-0 border border-solid aspect-square rounded-md border-gray-400 bg-gray-100 text-gray-400 dark:bg-blue-dark;
}

.sidebar {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  border-right: 1px solid #d7dde3;
  margin-right: 20px;
}

.main {
  flex: 3;
  margin-left: 20px;
}
.row {
  display: flex;
  margin: auto -1rem 1rem;
}

.sections .section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sections .section .annotation, .sections .section .content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.sections .section .annotation {
}

.sections .section .content {
  width: 40%;
}

.sections .section .content pre {
  border: 0;
  margin-top: 0;
  padding-top: 0;
}

.sections code[class*="language-"], pre[class*="language-"] {
    white-space: normal !important;
    word-break: break-word !important;
}

.api-list-container {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  position: relative;
}

.api-list-container h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.api-list-container ul.api-list {
  list-style: none;
  margin: 0 0 32px -8px;
  padding: 0;
  overflow: hidden;
}

.api-list-container ul.api-list li.api-item {
  font-size: 1.4rem;
  margin: 8px 0;
  line-height: 14px;
  line-height: 1.4rem;
  padding: 0;
  float: left;
  width: 33%;
  overflow: hidden;
  min-width: 330px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.api-list-container .symbol {
  box-shadow: 0 1px 2px #0a10143d;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  font-size: 10px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 16px;
  line-height: 1.6rem;
  margin-right: 8px;
  text-align: center;
  width: 16px;
}

.symbol.T {
  background: #4CAF50;
}

.symbol.I {
  background: #009688;
}

.symbol.C {
  background: #2196F3;
}

.symbol.A {
  background: #FFA000;
}

/* .highlight { */
/* background-color: rgb(243, 244, 246) */
/* } */
