{{ define "main" }}
<div
  class="relative py-6 px-6 md:px-10 leading-relaxed text-blue-black/80 dark:text-white/80"
>
<div class="fixed right-0 top-15 z-10 h-16 w-16">
    {{ if .Params.executable }}
      <a href="/playground/{{ .Params.slug }}" target="_blank" class="absolute transform bg-blue shadow-md text-center text-white font-semibold py-1 right-[0px] top-[0px] w-[170px]">
          Run Live
    </a>
      {{ end }}
    </div>
  <span class="text-xs uppercase text-gray-500 dark:text-gray-500">
    Guide
  </span>
  <h1 class="font-title text-3xl mb-1 font-bold | xl:w-1/2 xl:pr-8">{{ .Params.name }}</h1>
  <div class="flex flex-row gap-2">
    {{range split .Params.tags "," }}
    <span
      key="{{ . }}"
      class="bg-blue text-[10px] rounded-sm mb-2 uppercase font-bold text-white dark:text-blue-black px-2 py-1"
    >
      {{ . }}
    </span>
{{ end }}
  </div>
  <div
    class="hidden bg-gray-100 dark:bg-blue-darkest w-[50vw] h-full left-1/2 top-0 absolute pointer-events-none xl:block"
  ></div>
  <div class="relative">
    {{range .Params.sections }}
        {{ partial "guides/section.html" . }}
{{ end }}
</div>
  <p class="mt-10">
    <a
      class="text-blue"
      href="https://github.com/api-platform/core/edit/{{ substr (replace (replace .Page.RelPermalink "/docs/" "") "/guides" "/docs/guides") 0 -1 }}.php"
    >
      You can also help us improve this guide.
    </a>
  </p>
</div>
{{ end }}
