{{- $page := .Page }}
{{- .Scratch.Set "title" .Site.Title }}

{{ partial "checkVersion.html" . }}  
{{ $currentVersion := .Scratch.Get "currentVersion" }}
{{ $versionPath := .Scratch.Get "versionPath" }}
{{ if eq $currentVersion .Site.Params.defaultVersion }} 
    {{- .Scratch.Set "menuID" "current" }} 
{{ else }}
    {{- .Scratch.Set "menuID" (replace $versionPath "." "") }}
{{ end }}

{{- if eq .Page.Type "reference" }}
  {{- .Scratch.Set "title" "Reference" }}

  {{- range $k, $v := (index $.Site.Data.references .Page.Section) }}
    {{- range $link := $v }}
      {{ if eq $.RelPermalink $link.link }}
        {{ $.Scratch.Set "title" (printf "Reference | %s" (delimit $link.parts " ")) }}
      {{ end }}
    {{- end }}
  {{- end }}
{{- else }}
  {{- with index site.Menus (.Scratch.Get "menuID") }}
    {{- range .}}
      {{- range .Children}}
        {{- if $page.IsMenuCurrent .Menu . }}
          {{- $.Scratch.Set "title" .Name }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if eq .Page.Type "guides" }}
  {{- .Scratch.Set "description" (index (index .Params.sections 0) "text") }}
  {{- .Scratch.Set "title" (printf "%s | %s" "Guides" (.Scratch.Get "title")) }}
{{- else }}
  {{ .Scratch.Set "description" (index (split .Page.Summary "\n") 0) }}
{{- end }}

{{ $image := resources.Get "images/opengraph-image.png" }}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ printf "API Platform | %s" (.Scratch.Get "title") }}</title>
<meta name="description" content="{{ .Scratch.Get "description" }}">

<meta property="og:title" content="{{ .Scratch.Get "title" }}">
<meta property="og:description" content="{{ .Scratch.Get "description" }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $image.Permalink }}">
<meta property="og:image:width" content="{{ $image.Width }}"/>
<meta property="og:image:height" content="{{ $image.Height }}"/>
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Scratch.Get "title" }}">
<meta name="twitter:description" content="{{ .Scratch.Get "description" }}">
<meta name="twitter:image" content="{{ $image.Permalink }}">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
