<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" class="w-full light">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-white dark:bg-blue-black">
	<div class="relative w-full overflow-x-clip bg-white dark:bg-blue-black">
    {{ partial "header.html" . }}
    {{ partial "mobilesidebar.html" . }}
    <div class="max-w-8xl mx-auto overflow-x-clip">
      <div class="flex flex-row items-start justify-start flex-wrap">
        {{ partial "sidebar.html" . }}
        <div class="flex-1 overflow-x-clip min-w-0">
          {{ block "main" . }}{{ end }}
        </div>
      </div>
    </div>
	</div>
  {{ partial "footer.html" . }}
  <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
  {{- $sections := (index .Site.Data.sections "sections") }}
  {{- .Scratch.Set "version" .Page.Section }}
  {{- if in $sections .Page.Section }}
    {{- .Scratch.Set "version" "4.0" }}
  {{- end }}
  <script>
    docsearch({
      container: '#docsearch',
      appId: 'ZQ00U6B6ML',
      indexName: 'api-platform',
      apiKey: '52043128794330355240504c03762281',
      searchParameters: {
        facetFilters: ['version:{{ .Scratch.Get "version" }}']
      }
    });
  </script>
</body>
</html>
